@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MadimiOne";
  src: url(./assets/fonts/MadimiOne-Regular.ttf);
}

@font-face {
  font-family: "Oswald";
  src: url(./assets/fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: "Ubuntu";
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

@layer base {
  body {
    @apply bg-herobg;
  }
}

@layer components {
  .btn-nav {
    @apply p-1 text-sm lg:text-base tracking-wide font-main uppercase text-gray-300 border-gray-300 border-2 rounded-lg transition duration-300 hover:shadow-nav focus:shadow-nav;
  }
}

@layer components {
  .section-title {
    @apply mb-3 md:mb-5 font-main text-text text-2xl md:text-5xl lg:text-7xl select-none;
  }
}

@layer components {
  .section-text {
    @apply text-text font-text md:text-base lg:text-lg select-none;
  }
}

/* Animation */

.text-fadeIn {
  animation: fadeIn 500ms linear forwards;
}

.text-fadeOut {
  animation: fadeOut 500ms linear forwards;
}

@keyframes fadeIn {
  0% {
    scale: 0.6;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    scale: 0.6;
    opacity: 0;
  }
}

.textColorAdd {
  animation: colorAdd 1000ms linear forwards;
}

@keyframes colorAdd {
  0% {
    color: white;
  }
  100% {
    color: rgb(234 179 8);
  }
}

/*Decorative element*/

.link-wrapper {
  position: absolute;
}

.link-wrapper::after {
  content: "";
  height: 2px;
  width: 50px;
  position: absolute;
  left: -40%;
  top: 50%;
  transform: rotate(90deg);
  z-index: -1;
  background-color: rgb(209 213 219);
}

@media screen and (min-width: 768px) {
  .link-wrapper::after {
    width: 120px;
    left: -117%;
    top: 50%;
  }
}

.scroll-btn {
  position: fixed;
}

.scroll-btn::before {
  position: absolute;
  content: "UP";
  top: -25%;
  width: 20px;
  height: 20px;
  font-size: small;
  color: white;
  transform: translateX(-50%);
}

.scroll-btn::after {
  content: "";
  position: absolute;
  bottom: -60%;
  width: 30px;
  height: 40px;
  transform: translateX(-40%);
}

.scroll-btn:hover::after {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./assets/images/rocket_fire.png");
}

.scroll-btn-visible {
  display: inline-block;
}

/* Some of these css propertys is experimental, so I am going to use observer to be 100% sure it works.

@layer base {
  @media (prefers-reduced-motion: no-preference) {
    .text-fadeIn {
      scale: 0.8;
      opacity: 0;
      animation: fadeIn linear forwards;
      animation-timeline: view();
      animation-range: 100px 250px;
    }
  }
}

@keyframes fadeIn {
  100% {
    scale: 1;
    opacity: 1;
  }
} */

/* Customize slick-library dots colors: */
.slick-dots li button:before {
  color: rgb(209 213 219);
}

.slick-dots li.slick-active button:before {
  color: rgb(234 179 8);
}
