@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MadimiOne";
  src: url(./assets/fonts/MadimiOne-Regular.ttf);
}

@font-face {
  font-family: "Oswald";
  src: url(./assets/fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: "Ubuntu";
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

@layer components {
  .btn-nav {
    @apply p-1 text-base tracking-wide font-main uppercase text-gray-300 border-gray-300 border-2 rounded-lg transition duration-300 hover:shadow-nav focus:shadow-nav;
  }
}
